[Tt]emp/
generated/
configware/Klli.Sensact.Config/configgitkey.txt
firmware_sensactOutdoor/sdkconfig
firmware_sensactOutdoor/sdkconfig.old
**/*-backups
/pcb/**/gerber
/pcb/**/assembly
**/node_modules/
**/package-lock.json
**/board_info.json
**/secrets.ts
