@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");
@import "./dialog.css";
@import "./loader.css";


:root {
  --main-white-color: #f2f2f2;
  --main-black-color: black;
  --main-purple-color: #9e89b8;
  --blue-3: hsl(211, 57%, 25%);
  --blue-4: hsl(211, 39%, 44%);
  --blue-5: hsl(211, 51%, 65%);
  --blue-7: hsl(211, 90%, 93%);
  --blue-rich: hsl(211, 65%, 48%);
}

* {
  box-sizing: border-box;
}

@media (max-width:768px) {
  body {
    font: 16px/1.5 "Dosis", sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    width: 100%;

    >nav {
      overflow: hidden;
      background: #333;
      position: relative;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;

      >ul {
        display: none;
        list-style-type: none;
        

        >li>a>span:nth-child(1) {
          display: none;
        }
      }

      a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }


      >a>i {
        color: white;
        background: #333;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 32px;
        font-size: 30px;
      }
    }
  }
}

@media (min-width:769px) {
  body {
    font: 16px/1.5 "Dosis", sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0;
    margin: 0;

    >nav {
      grid-column: 1/span 1;
      grid-row-start: 2/span 1;

      >a {
        display: none;
      }

      >ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f1f1f1;
        >li>a{
          display: block;
          color: #000;
          padding: 8px 16px;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          transition: color .2s ease-out;
  
          :hover {
            color: red;
          }
  
          :nth-child(1) {
            width: 30px;
          }
        }
      }



    }
  }

  body>header {
    font-size: 28px;
    font-weight: bold;
    background: var(--main-white-color);
    grid-column: 1/span 2;
    grid-row-start: 1/span 1;
    padding: 10px;
  }

  body>footer {
    background: var(--main-white-color);
    grid-column: 1/span 2;
    grid-row-start: 3/span 1;
    overflow-y: hidden;
    padding: 10px;
  }

  body>main {
    grid-column: 2/span 1;
    grid-row-start: 2;
    overflow-y: scroll;
    padding-right: 10px;
  }
}

#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

#scroller>p {
  font-family: Courier New, Courier, monospace;
  white-space: pre;
  padding: 0px;
  margin: 0px;
}


#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #4e4d4dcd;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}


@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}


@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

.info {
  color: rgb(102, 249, 102);
}

.warn {
  color: yellow;
}

.error {
  color: pink;
}

.dangerous {
  color: red;
}


svg .iconsize {
  height: 24px;
  width: 24px;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td,
th {
  border-top: 1px solid #555555;
  text-align: left;
  padding: 8px;
}

td.minwidth {
  width: 1%;
  white-space: nowrap;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

td>figure {
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px
}

p {
  padding: 10px;
}


.diag-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.diag-box-win {
  position: absolute;
  left: 10%;
  width: 80%;
  text-align: center;
  border: 2px outset #888;
  background-color: #fff;
  border-radius: 10px;
  top: 20%;
  padding-left: 20px;
  padding-right: 20px;
}

.blur {
  filter: blur(2px);
}

.gr {
  background-color: green;
}

.rd {
  background-color: red;
}

.ye {
  background-color: orange;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.withsvg {
  display: flex;
  align-items: center;
  padding: 5px;

  span {
    margin-left: 5px;
  }
}