@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-white-color: #f2f2f2;
  --main-black-color: black;
  --main-purple-color: #9e89b8;
}

* {

  box-sizing: border-box;
}

nav{
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }

  li a :nth-child(1){
    width: 30px;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid; 
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 3fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0;
  margin: 0;
}


header{
  background: var(--main-white-color);
  grid-column:1/span 2; 
  grid-row-start:1/span 1;
  padding: 10px;
}

footer {
  background: #695e5e;
  grid-column:1/span 2; 
  grid-row-start:3/span 1; 
  overflow-y: scroll;
  min-height: 150px;
}
nav{
  grid-column:1/span 1; 
  grid-row-start:2/span 1; 
}

main {
  grid-column:2/span 1; 
  grid-row-start:2/span 1; 
  background: deepskyblue;
  overflow-y: scroll;
}

.app h2, .app p{
  margin: 0;
  padding: 0;
}

#scroller * {
  overflow-anchor: none;
  
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

#scroller > p {
  font-family: Courier New, Courier, monospace;
  
  white-space: pre;
  padding: 5px;
  margin:0px;
}

.info{
  color: rgb(102, 249, 102);
}
.warn{
  color: yellow;
}

.error{
  color: pink;
}


a {
  color: darkblue;
  transition: color .2s ease-out;
  text-decoration: none
}
a:hover {
  color: red;
}

.dangerous{
  color:red;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td, th {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
tr:nth-child(even) {
  background-color: #ffffff;
}



.app {
  width: 100%;
  background-color: beige;
  margin-top: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  /* or inline-flex */
  flex-direction: row;
  justify-content: space-between;
}

button {
  height: 40px;
  min-width: 40px;
  font-size: x-large;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4CD964;
}

.toggle:checked:before {
  left: 32px;
}

.app > :nth-child(2){
  display: flex;
  /* or inline-flex */
  flex-direction: row;
  align-items: center;
}