{
  "BoardsDir": "C:\\Users\\mail\\OneDrive - HSOS\\esp32_boards",
  "CertsDir": "C:\\Users\\mail\\OneDrive - HSOS\\certificates",
  "SubjectPrefix": "/C=DE/ST=NRW/L=Greven/O=Klaus Liebler personal",
  "NpmPackagesDir": "C:\\repos\\npm-packages",
  "WebmanagerBestBinaryBuffersSchemaDir": "C:\\repos\\espidf-component-webmanager\\best_binary_buffers_schema"
}
