<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Klli.Sensact.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Klli.Sensact.Codegenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Klli.Homecontrol.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Klli.Sensact.Codegenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <Klli.Sensact.Config.Properties.Settings>
            <setting name="ToolchainDirectory" serializeAs="String">
                <value>C:\stm32tc\gcc49_2015q3</value>
            </setting>
            <setting name="STM32Cube_FW_F1" serializeAs="String">
                <value>C:\stm32tc\STM32CubeMX\STM32Cube_FW_F1_V1.2.0</value>
            </setting>
            <setting name="SensactDirectory" serializeAs="String">
                <value>C:\sensact</value>
            </setting>
            <setting name="STM32Cube_FW_F4" serializeAs="String">
                <value>C:\stm32tc\STM32CubeMX\STM32Cube_FW_F4_V1.11.0</value>
            </setting>
        </Klli.Sensact.Config.Properties.Settings>
    </applicationSettings>
   <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="File"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
    <appender name="File" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="8192KB"/>
      <appendToFile value="false"/>
      <encoding value="utf-8"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %-5level [%thread] [%property{BLH}] %logger{2} %type{3} - %message%newline"/>
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="White"/>
        <backColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <backColor value="Yellow, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
        <backColor value="Green"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="White"/>
        <backColor value="Purple"/>
      </mapping>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %-5level [%thread] [%property{BLH}] %logger{2} %type{3} - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>
