
$btnColor: #4CAF50;

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  stroke-width: 0;

}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}

body>* {
  padding: 5px;
}

body>header{
  background-color: burlywood;
}
button.onoff{
  border: none;
  font-family: inherit;
  background-color: $btnColor; /* Green */
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 80px;
  transition: 220ms all ease-in-out;
  stroke: black;
  fill: none;
  &:hover{
    background-color: scale-color($btnColor, $lightness: +20%);
    stroke: red;
  }
  &.on{
    background-color: scale-color($btnColor, $lightness: +20%);
    stroke: red;
  }
}

button.updown{
  font-size: x-large;
}


body>footer {
  background-color: burlywood;
}

body>main{
  flex-grow: 1;
  background-color: cornsilk;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 350px;
}

main>div {
  max-width: 800px;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items:stretch;
  align-content:center;
  border: tan 1px solid;
  padding:2px;
}
input{
  font-size: 24pt;
}